.st-blog-section {
  &__background {
    background-image: url('../../public/static/bg/decor_2.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &__container {
    padding: var(--st-spacing-10);

    &__heading {
      color: var(--st-color-primary-500);
    }

    &__description {
      font-size: var(--st-font-size-03);
      font-weight: 400;
      line-height: 20px;
    }

    &__img {
      padding: var(--st-spacing-05);
    }

    &__card {
      border: none;
      border-radius: var(--st-border-radius-03);
      box-shadow: var(--st-box-shadow-06);
      margin: var(--st-spacing-05);
      margin-right: 0;
      min-height: 40rem;
      padding: var(--st-spacing-03);
    }

    &__body {
      padding-bottom: 0;
    }

    &__title {
      font-size: var(--st-font-size-05);
      font-weight: 500;
    }

    &__text {
      color: var(--st-color-gray-600);
      font-size: var(--st-font-size-02);
      font-weight: 400;
      text-align: justify;
    }

    &__see-more {
      color: var(--st-color-primary-500);
      font-size: 14px;
      font-weight: 600;
      text-align: right;
      width: 100%;
    }

    &__button-see-all {
      background-color: var(--st-color-primary-50);
      border-color: var(--st-color-primary-50);
      color: var(--st-color-primary-500);
      display: flex;
      font-size: var(--st-font-size-02);
      font-weight: 600;
      justify-content: center;
      margin: var(--st-spacing-01);
    }

    &__button-see-all:hover {
      background-color: var(--st-color-primary-200) !important;
      border-color: var(--st-color-primary-50) !important;
      color: var(--st-color-primary-500) !important;
    }

    &__footer {
      background-color: transparent;
      border-top: none;
      margin-bottom: calc(var(--st-spacing-03) + var(--st-spacing-01));
    }
  }
}
