.st-carousel-section {
  &__container {
    background-color: var(--st-color-primary-900);

    &__logo {
      position: relative;
    }
    &__comming-soon {
      position: absolute;
      padding-bottom: var(--st-spacing-09);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
