.st-frame-section {
  &__container {
    width: 100%;
    min-height: 33rem;
    margin-top: 40px;
    position: relative;
    background-image: url('/assets/frames/frame2.png');

    background-repeat: repeat-x;
    &__bg-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden;
    }

    &__wrap {
      position: absolute;
      z-index: 2;

      &__description {
        margin-top: 10rem;
        padding: 0 10rem;
        text-align: center;
        font-size: var(--st-font-size-08);
        font-weight: 700;
        line-height: 1.4;
        color: var(--st-color-base-white);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

      &__logo {
        margin: 0 auto;
        margin-top: 80px;
        width: 150px;
        height: 100px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .st-frame-section__container {
    min-height: 34rem;
  }
}

@media (max-width: 992px) {
  .st-frame-section__container {
    min-height: 30rem;
  }

  .st-frame-section__container__wrap__description {
    margin-top: 8rem;
    padding: 0 3rem;
    font-size: var(--st-font-size-07);
  }
}

@media (max-width: 768px) {
  .st-frame-section__container {
    min-height: 25rem;
  }
}
