.st-frame-section {
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fffdf0;
    background-image: url('/assets/frames/frame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__description {
      text-align: center;
      font-size: var(--st-font-size-10);
      font-weight: 700;
      line-height: 1.4;
      padding: var(--st-spacing-13) var(--st-spacing-13);
      color: var(--st-color-base-white);
    }

    &__logo {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
