.st-mobile-cleaning-process-section {
  &__container {
    &__wrap-content {
      padding-left: var(--st-spacing-05);
      padding-right: var(--st-spacing-05);
      padding-top: var(--st-spacing-06);
    }

    &__heading {
      color: var(--st-color-primary-600);
      font-size: var(--st-font-size-04);
      font-weight: 600;
      text-transform: uppercase;
    }

    &__description {
      font-size: var(--st-font-size-02);
      font-weight: 400;
      line-height: 17px;
    }

    &__hook {
      margin-bottom: var(--st-spacing-05);
      position: relative;
    }

    &__img {
      border-radius: var(--st-border-radius-02);
      border-radius: calc(var(--st-border-radius-02) + 2px);
      max-height: 150px;
      object-fit: cover;
    }

    &__card {
      border: none;
      border-radius: var(--st-border-radius-03);
      box-shadow: var(--st-box-shadow-06);
      margin: var(--st-spacing-05);
      margin-right: 0;
      min-height: 21rem;
      padding: var(--st-spacing-04);
    }

    &__card:last-of-type {
      margin-right: var(--st-spacing-05);
    }

    &__card-title {
      font-size: var(--st-font-size-03);
      font-weight: 600;
      margin-bottom: var(--st-spacing-04);
    }

    &__card-description {
      font-size: var(--st-font-size-02);
      font-weight: 400;
      text-align: justify;
      text-justify: inter-word;
    }

    &__card-body {
      padding-left: 0;
      padding-right: 0;
    }

    &__rounded {
      align-items: center;
      background-color: var(--st-color-primary-400);
      border-radius: 100%;
      bottom: -15%;
      display: flex;
      font-size: var(--st-font-size-02);
      font-weight: 600;
      height: 50px;
      justify-content: center;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 50px;
    }
  }
}
