.st-mobile-carousel-section {
  &__container {
    padding-top: 71px;

    &__middle-content {
      padding: var(--st-spacing-05);
      position: relative;
      width: 100%;
    }

    &__bg-decor {
      bottom: 8%;
      height: 19%;
      opacity: 0.8;
      position: absolute;
      text-align: center;
      width: calc(100% - 7.8vw);

      &__icon-left {
        margin-left: 0.5rem;
      }
      &__icon-right {
        margin-right: 0.5rem;
      }
    }

    &__card {
      background-color: var(--st-color-primary-400);
      border-radius: calc(var(--st-border-radius-02) + 2px);
      padding-bottom: var(--st-spacing-06);
      padding-left: var(--st-spacing-05);
      padding-right: var(--st-spacing-05);
      padding-top: var(--st-spacing-06);
      text-align: center;
    }

    &__description {
      color: var(--st-color-primary-800);
      font-size: var(--st-font-size-02);
      font-weight: 400;
      line-height: 17px;
    }
  }
}
