.st-mobile-accordion-partial {
  &__container {
    .accordion-item {
      border: none;
      border-radius: 0 !important;
    }
    .accordion-button {
      border-radius: 0 !important;
      display: block;
      font-size: var(--st-font-size-02);
      font-weight: 600;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
    }

    .accordion-button::after {
      position: absolute;
      right: 16px;
      z-index: 100;
    }

    .accordion-button:not(.collapsed) {
      background-color: var(--st-color-primary-400);
      color: var(--st-color-gray-700);
    }

    .accordion-item > .accordion-header .accordion-button.collapsed {
      background-color: var(--st-color-gray-100);
      border-radius: 0 !important;
    }

    .accordion-body {
      padding: 0;
    }

    ul {
      padding: 1rem 1.25rem;
      padding-left: 2rem;
    }

    .bullets {
      list-style-type: none;
      margin: 0 auto;
      text-align: left;
      width: auto;
    }

    .bullets li {
      position: relative;
    }

    .bullets li::before {
      content: '\25CF';
      display: inline-block;
      font-size: 1em;
      left: -20px;
      position: absolute;
      top: -4px;
      width: 50px;
    }

    &__heading {
      font-size: var(--st-font-size-02);
      font-weight: 600;
      line-height: 17px;
    }

    &__description {
      color: var(--st-color-gray-500);
      font-size: var(--st-font-size-01);
      font-weight: 400;
      line-height: 14.52px;
    }
  }
}
