.st-mobile-policy-section {
  &__background {
    position: relative;
  }

  &__container {
    color: var(--st-color-base-white);
    padding: 0.5rem 0.8rem;

    &__heading {
      font-size: var(--st-font-size-01);
      font-weight: 400;
    }

    &__subheading > tbody > tr > td {
      font-size: var(--st-font-size-01);
      font-weight: 400;
      line-height: 14.52px;
      padding-left: var(--st-spacing-01);
      vertical-align: top;
    }
  }
}
