.st-service-section {
  &__wrap {
    background-image: url('../../public/static/bg/bg-service.webp');
    background-repeat: no-repeat;
  }

  &__background {
    height: 255px;
    width: 100%;
  }
  &__container {
    color: var(--st-color-base-white);
    padding: var(--st-spacing-10);

    &__heading {
      font-weight: 700;
    }

    &__description {
      font-size: var(--st-font-size-03);
      font-weight: 600;
      line-height: 20px;
    }
  }
}
