.st-tab-content-partial {
  .tab-content {
    background-color: var(--st-color-gray-100);
  }

  &__container {
    padding: 5rem 3.125rem;
  }

  @media only screen and (max-width: 800px) {
    &__container {
      padding: 3rem 1.125rem;
    }
  }
}
